html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-log {
    padding: 10px 30px;
    background: rgb(230,63,251);
    background: linear-gradient(90deg, rgba(230,63,251,1) 4%, rgba(154,63,251,1) 52%, rgba(104,63,208,1) 83%);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-top: .7cm;
    font-family: monospace;
    font-weight: 500;
}

    .btn-log:hover {
        backgroud-color: white;
        border: 2px solid rgba(104,63,208,1);
        color: rgba(104,63,208);
        background: white;
    }

.display-4 {
    margin-bottom: 0.5cm;
}